body{
	      margin: 0px;
	      padding: 0px;
	      background-image:url(background.jpg);
	      background-size: cover;
        }
        #topbar{
            background-color:#2D274A;
            height:40px;
            width:100%;
        }
        #topbar img{
            width:150px;
            margin-top: 5px;
            margin-left: 10px;
            height: 30px;
        }
        ul{
            float: right;
            margin-top: 10px;

        }
        ul li{
            display: inline;
            margin-right:30px;
        }
        ul li a{
            color:white;
            text-decoration:none;
            font-size: 18px;

        }
        ul li a:hover{
            color:blue;
        }

        .container{
	       top: 50%;
	       left: 50%;
	       position: absolute;
	       transform: translate(-50%,-50%);	        
        }
        .card{
        	padding: 60px 40px 50px 40px;
        	background:#190A65;
        	border-radius: 10px;


        }
        #name{
        	width: 300px;
        	border: none;
        	background: transparent;
        	border-bottom: 1px solid white;
        	padding: 20px;
        	margin-bottom: 20px;
        	color:White;
        }
        button{

            border: 20px;
            padding: 10px 20px;
            background: dodgerblue;
            color: black;
            margin-top: 20px;
            border: none;
            outline:black;
            margin-left: 170px;
            

        }
        button:hover{
        	background-color: white;
        	color:Black;
        	cursor: pointer;
        }
        a{
        	font-size: 13px;
            color: blue;
        }
        label{
        	color:black;
        }
        img{
        	border-radius: 50%;
        	position: absolute;
        	margin-left: 210px;
        	margin-top: -40px;
        }
    